# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go build and test

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.25.2'

    - name: Build
      run: go build -v ./...

#    - uses: dominikh/staticcheck-action@v1.3.1
#      with:
#        version: "2024.1.1"

    - name: Vet
      run: go vet

    - name: Test
      run: go test -v ./...
